.playlist {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border: lightgray solid 1px;
    padding: 10px;
    gap: 8px;
    max-width: 300px;
    
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: large;
    text-align: center;
    width: 100%;
}

.line {}

.content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 6px;
    background-color: rgb(46, 46, 46);
    width: 100%;
    font-weight: 100;
}

.item {
    width: 100%;
}

.item:hover {
    cursor: pointer;
    font-weight: 500;
    // background-color: gray;
    color: white;
}

.item:active {
    font-weight: 500;
    background-color: gray;
    color: white;
}

.open {
    cursor: pointer;
    border: gray 1px solid;
    padding: 4px;
    border-radius: 999px;
    justify-content: center;
    align-items: center;
}