// AudioPlayer.css
.audioPlayer {
    margin: 20px;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.audioPlayer button {
    padding: 10px 20px;
    background-color: #008cba;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.audioPlayer input[type="range"] {
    width: 100%;
}