.input {
    display: flex;
    gap: 10px;
}

.inputPrompt {
    resize: none;
    // width: 300px;
    height: 80px;
    padding: 10px;
}

.inputButton {
    height: 100px;
    text-align: center;
}

.butttt {
    display: flex;
    gap: 4px;
    justify-content: space-between;
    width: 300px;
}

.butP {
    flex: 1;
    cursor: pointer;
    border-radius: 999px 0 0 999px;
    // width: 50px;
    text-align: center;
    background-color: rgb(70, 70, 70);
}

.butN {
    flex: 1;
    cursor: pointer;
    border-radius: 0 999px 999px 0;
    // width: 50px;
    text-align: center;
    background-color: rgb(70, 70, 70);
}