body {
  background-color: black;
}

#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}



.container {
  background-color: #161824;
  color: white;
  height: 100vh;
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-height:844px) {
  body {
    background-color: black;
    overflow: hidden;
  }

  #root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    background-color: red;
  }

  .container {
    justify-content: start;
  }
}

@media (max-width:1280px) {
  body {
    background-color: black;
    width: 100vw;
  }

  #root {
    max-width: 9999px;
    margin: 0 auto;
    /* padding: 2rem; */
    text-align: center;
  }

  .container {
    width: 100vw;
  }
}